/* You can add global styles to this file, and also import other style files */
 @import url('https://fonts.googleapis.com/css?family=Ubuntu');
 @import '~@angular/material/prebuilt-themes/indigo-pink.css';
 @import url('https://fonts.googleapis.com/css?family=Montserrat');
 @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
 @import url("https://fonts.googleapis.com/css?family=Roboto");
/* Available pre-built themes: deeppurple-amber.css indigo-pink.css pink-bluegrey.css purple-green.css */
/*/
 ////////////////[ FONT ]*/
 @font-face {
    // font-family: Poppins-Regular;
  //   src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}
 html {
     overflow-y:scroll;
}
 body {
     font-family: sans-serif;
     font-size: 14px;
     margin: 0;
     font: 400 14px/20px Roboto,"Helvetica Neue",sans-serif;
}
 h3 {
     color: #505050;
}

table {
      text-align: center;
      td {
          font-weight: 400;
      }
}

table td,
table th {
font-size: 13px;
}

register mat-card,
login mat-card {
  width: 294px;
    border-radius: 7px;
    margin-top: 20px;
}
.tos-icons {
  font-size: 18px;
    color: grey;
}
.tos-entity-top-content > a {
  padding-right: 2.5em;
}
 .tos-content-color {
     color: #979797;
}
.tos-login-heading {
  font: 400 27px/20px Roboto,"Helvetica Neue",sans-serif;
}

mat-accordion > mat-expansion-panel.mat-expansion-panel {
    margin: .5em 0;
}

.mat-expansion-panel-body .container {
  padding-left: 0;
}

body {
   /* background-image: url(./background-tos_old.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
     background-attachment: fixed;
       background: linear-gradient(56deg, #dbdbdb, #f1f1f1);
       background: linear-gradient(96deg, #f4f4f4, #f1f1f1);
       background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
       background: linear-gradient(110deg, #ffca28 60%, #ffed4b 60%);
       background: linear-gradient(110deg, #000428 60%, #004e92 );
       background: linear-gradient(45deg, rgba(242, 34, 50, 0.5), rgba(255, 187, 54, 0.6) 100%);
       */
  }
  
 .tos-menu-style menu {
     margin: 0;
}
 .tos-container-heading {
     font: 800 16px/16px Roboto,"Helvetica Neue",sans-serif
}

 .tos-body-style {
     min-height: 76vh;
     background: linear-gradient(to right, rgba(247, 215, 193, 0.95), rgba(230, 160, 126, 0.95));
}

.tos-menu-style {
    background: linear-gradient(to right, rgba(247, 215, 193, 0.95), rgba(230, 160, 126, 0.95));
}

.tos-body-background {
    background: #f6f6f6;
}

.tos-menu-background {
    background: white;
}

 .tos-menu-style {
   min-height: 16vh;
}
.tos-footer-style {
 min-height: 8vh;
}
.tos-entity-name {
  font: 400 17px/17px Roboto,"Helvetica Neue",sans-serif;
    padding-bottom: 8px;
    padding-top: 15px;
}
 content {
     flex-direction: column;
     display: flex;
     width: 100%;
}
 mat-accordion {
     margin-bottom: 2em;
}
 footer {
     color: #ffffff;
     background: #212121;;
     font-size: 12px;
     right: 0;
     bottom: 0;
     left: 0;
     padding: 1rem;
     height: inherit;

.tos-footer {
    padding-left: 15%;
    padding-right: 15%;

  display: flex;
  p {
    font-family: 'Montserrat', sans-serif;
 letter-spacing: .5px;
 margin-top: auto;
     margin-bottom: auto;

    a:link, a:visited, a:hover, a:active {
       color: #ffffff;
     }
  }

  .social-icons {
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    padding: 7px 8px;
    color: #ef7832;
  }

  .social-icons:hover {
    background: #377992;
  }
}

}

 .mat-form-field {
     width: 200px;
}

.tos-action-button .mat-icon {
    cursor:pointer;
    color:#6d6c6c;
}

.tos-action-button .mat-icon:hover {
    color:#dcb700;
    transition: all 0.1s ease-in-out;
}

 .tos-button.mat-button {
     border: 1px solid #a4a199;
     border-radius: 3px;
}
 .tos-button.mat-button .mat-button-focus-overlay {
     background-color:transparent;
}
 register .mat-card .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
 login .mat-card .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus {
     background-color: white;
}
 .tos-primary-button.mat-raised-button, mat-dialog-actions .tos-primary-button.mat-raised-button {
     box-shadow: none;
     height: 38px;
     background-color: #0092e6;
     color: #ffffff;
}

register .tos-primary-button.mat-raised-button,
 login .tos-primary-button.mat-raised-button {
     margin-left: 15px;
}
 .tos-button.mat-button:hover {
     background-color: #ffffff;
}
 .mat-dialog-actions {
     justify-content: space-between;
}
 .mat-dialog-actions .mat-raised-button+.mat-button {
     margin: 0 !important;
}
 profile, about, team-view, customer-view, customer-main, employee-view, employee-main {
     display: flex;
     flex-direction: column;
     flex: 1 1 100%;
}
 employee-main .mat-card {
     min-width: 100px;
}
 team-view .container, customer-view .container, customer-main .container, employee-view .container, employee-main .container {
     flex-wrap: wrap;
}
 .container > div {
     min-width: 200px;
}
 menu .mat-toolbar-single-row {
     padding: 0;
}
 .tos-menu-buttons > a {
     font-size: 14px;
     cursor: pointer;
     padding: 0 12px;
}
 .tos-menu-buttons > a:hover {
     color: #dcb700 !important;
     transition: all 80ms ease !important;
}
.tos-menu-buttons {
  font: 400 20px/32px Roboto,"Helvetica Neue",sans-serif;
}
/* XS Menu Styling */


 #cdk-overlay-0 > div {
   border-radius: 4px;
   padding-left: 2px;
   margin-right: 1.6em;
}
 #cdk-overlay-0 > div > div {
     display: flex;
     flex-direction: column;
}
 #cdk-overlay-0 > div > div > a {
     cursor: pointer;
     padding: .8em;
}
 #cdk-overlay-0 > div > div > a:hover {
     color: #898989;
     transition: all 200ms ease;
}
.tos-menu-icon {
  cursor: pointer;
  padding: 0 1.2em;
  color: #5a5a5a;
}
 .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
     height: 35px;
     width: 35px;
}

.mat-dialog-title {
    font: 400 20px/24px Roboto,"Helvetica Neue",sans-serif;
}

.tos-primary-button.mat-raised-button, mat-dialog-actions .tos-primary-button.mat-raised-button {
font-weight: 400;
}

.tos-button.mat-button {
    font-weight: 400;
}
 .tos-button-right {
     text-align: right;
}
 body > app-root menu {
     padding-left: 0;
}
 .example-spacer {
     flex: 1 1 auto;
}
 a:link, a:visited, a:hover, a:active {
     color: black;
     text-decoration: none;
}
 menu .mat-toolbar {
    background: none;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 15px;
    padding-bottom: 12px;
    border-bottom: 5px solid #fcd307;
}

 .mat-card .mat-card-actions {
     text-align: right;
     padding: 0;
     display: flex;
     justify-content: flex-end;
}

.mat-card>.mat-card-actions:last-child {
    margin-right: -6px;
}

mat-card-actions > span {
    display: inline-flex;
}

 .mat-expansion-panel-header-title h3 {
     font: 400 15px/15px Roboto,"Helvetica Neue",sans-serif;
}
 .tos-material-button {
     display: flex;
     padding-left: 22%;
     font-weight: bold;
     line-height: 0.5em;
}
 .tos-text {
     padding: 0 .7em;
     color: #818080 !important;
}
 mat-expansion-panel .example-card.mat-card {
     background: #ffffff87;
}
 .tos-text:hover {
     color: #818080;
}
 content > customer-view > div > span {
     display: flex;
     flex-direction: row;
     align-items: center;
     color: #818080;
     padding: 1em;
     flex-wrap: wrap;
}
 .tos-entity-top-content {
     align-items: center;
     display: flex;
     padding: 0 10px 10px 0;
}
 .tos-entity-top-content .mat-icon {
     cursor: default;
}
 .mat-card {
     margin-bottom: 1%;
}
 .mat-icon {
     color: #818080;
}
@media only screen and (max-width: 600px) {
    customer-view .container, customer-main .container, employee-view .container, employee-main .container {
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        max-height: 100%;
        place-content: stretch flex-start;
        align-items: stretch;
   }
   register mat-card,
    login mat-card{
        margin: auto;
   }
   register,
    login {
     margin: 15px auto;
   }
    .tos-router-container .mat-expansion-panel-body {
        flex-direction: column !important;
   }
    .tos-button-right {
        padding-bottom: 10px;
   }
   .tos-title-style > h2 {
     padding-left: 2em;
  }
  .title-xs {
    display: block;
  }
  .title-gt-xs {
    display: none;
  }
}
 @media only screen and (min-width: 601px) {
     customer-main .container > div {
         max-width: 60vw;
         padding:0 5%;
    }
    register mat-card,
     login mat-card{
         float: right;
    }
    register,
     login {
         top: 20%;
         position: fixed;
         left: 60%;
    }
    .navbar.scrolling-navbar {
      padding-left: 0;
    }
    .title-xs {
      display: none;
    }
    .title-gt-xs {
      display: block;
    }
}
register mat-card-content button.mat-button,
 login mat-card-content button.mat-button {
     margin-left: -10px;
}

register mat-form-field,
 login mat-form-field {
     padding-left: 16px;
}
.tos-title-style > h2 {
    font: 400 26px/26px Arimo,sans-serif;
    color: #d97800;
}

 .mat-dialog-actions {
     flex-direction: row-reverse;
}
 body > app-root > div:nth-child(2) > menu > mat-toolbar:nth-child(2) > div:nth-child(3) > button:hover {
     transition: background-color 0.5s ease;
}
 customer-view .mat-card-header-text, team-view .mat-card-header-text, employee-view .mat-card-header-text, employee-main .mat-card-header-text {
     margin : 0;
     width: 100%;
}
 .tos-router-container .mat-card-header-text {
     margin : 0;
}
 about .mat-card {
     display: grid;
}
 .tos-component-heading {
     font: 400 15px/15px Roboto,"Helvetica Neue",sans-serif;
     margin-bottom: 9px;
     margin-top: 24px;
}
 employee-main > div.container > div > mat-card > mat-card-content > div > span {
     margin : 0;
}

breadcrumb div {
    height: 34px;
    background: #d8d6d038;;
}
 .tos-breads {
     border-radius: 3px;
     height: 34px;
     line-height: 34px;
     cursor: pointer;
     font-size: 13px;
    padding-left: 16%;
    padding-right: 15%;
}
 .tos-breadcrumb-content:hover {
     color: #e4a903;
}
/*settings for rating stars */
 employee-view .mat-card-title {
     display: flex;
}
 employee-view .mat-card-title mat-icon {
     font-size: 1.5em;
}
 .mat-card-title h3 {
     margin: 0;
     display: flex;
     flex-direction: column;
}
 h3 span {
     color: #505050;
}
 .tos-stakeholder-title.mat-card-title h3 {
     height: 46px;
}
 mat-card-title > h3 > span {
     font: 400 21px/20px Arimo,sans-serif;
}
 mat-card .mat-card-content {
     font-size: 13px;
}
 .tos-subtitle {
     font-size: 13px;
     font-style: italic;
     color: #706f6f;
     line-height: 20px;
}
 .tos-router-container .mat-card-content , customer-view .mat-card-content, employee-view .mat-card-content {
     margin: 0;
}
 .tos-arrow {
   font-size: 12px;
  padding: 0 10px 0 3px;
}
 .tos-router-container {
     display: flex;
     padding-bottom: 2em;
     position: relative;
}
 register .mat-tab-label,
 login .mat-tab-label {
     min-width: 72px;
}

 register mat-form-field ,
 login mat-form-field {
     width: 220px;
}
/*Card Style */
 .tos-router-container .mat-card-title {
     margin-bottom: 7px;
}
.tos-router-container .mat-card h3,
 .tos-router-container .mat-card {
     color: #757575;
}
 .tos-stars {
     display: flex;
     margin: auto;
}
 .tos-add-button {
    cursor: pointer;
    color: #626262;
    font-size: 3em;
    padding: 2px 15px;
}
 .tos-add-button:hover {
     color:#dcb700;
}
 .mat-card mat-card-content > span {
     cursor: default;
}

mat-card-content th {
    color: #ad5000;
    font-size: 1.1em;
    font-weight: 400;
}

 .container .mat-expansion-panel-body {
     display: flex;
}
 .tos-router-container .mat-expansion-panel-body {
     display: flex;
     flex-direction: row-reverse;
}
 .mat-expansion-panel-body .container {
     width: 100%;
}
 .tos-button-right {
     display: flex;
     flex-direction: column;
}
 mat-dialog-container {
     padding: 25px 40px 40px 40px !important;
}
 .container .mat-card:not([class*=mat-elevation-z]) {
     //box-shadow: 0 0px 1px -2px rgba(0,0,0,.1), 0 0px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.02), 0 0px 3px -1px rgba(0,0,0,.2);
     box-shadow: 1px 0 5px rgba(0, 0, 0, 0.08);
}
 .container .mat-card:not([class*=mat-elevation-z]):hover {
     //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 -2px 1px -2px rgba(0,0,0,.2);
     box-shadow: 0 0 16px #a9a7a6a6;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 1px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 0px 18px 0 rgba(0,0,0,.12) !important;
}

 .shake-hover-style .tos-cust-heading {
     color: #0074b7 !important;
}
 .shake-hover-style .tos-cust-heading:hover {
    /* transition: all .3s ease;
     transform: scale(1.1);
     (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
 .tos-cust-heading {
     cursor: pointer;
     text-transform: uppercase;
    font: 400 20px/20px Arimo,sans-serif;
}
 mat-card-content {
     font: 400 14px/20px Roboto,"Helvetica Neue",sans-serif;
}
 .mat-checkbox-checked.mat-accent .mat-checkbox-background {
     background: #0092e6;
}
/* .shake-hover-style:hover {
     animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
     transform: translate3d(0, 0, 0);
     backface-visibility: hidden;
     perspective: 1000px;
}
 @keyframes shake {
     10%, 90% {
         transform: translate3d(-1px, 0, 0);
    }
     20%, 80% {
         transform: translate3d(2px, 0, 0);
    }
     30%, 50%, 70% {
         transform: translate3d(-4px, 0, 0);
    }
     40%, 60% {
         transform: translate3d(4px, 0, 0);
    }
}
 */
