   <h3 class="tos-component-heading">All Employees</h3>
   <div class=" tos-button-right">
      <span> <span  (click)="openDialog()" class="tos-add-button">+</span> </span>
   </div>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start"  @fade>
        <div fxFlex="30%"  *ngFor = "let emp of employees">
         <mat-card class="example-card"  >
            <mat-card-header>
               <mat-card-title>
                  <h3 class="shake-hover-style">
                    <span (click)="navigateViewEmployee(emp.id)" class="tos-cust-heading"> {{emp.name}}</span>
                  </h3></mat-card-title>
          <!--     <mat-card-subtitle><span (click)="navigateViewEmployee(emp.id)" class="tos-cust-heading">Employee Id : {{emp.id}} </span></mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
    <div>

        <img [src]="netImage + emp.imageName" class="tos-img" alt="User pic">

            <span>   Joining Date: {{emp.joiningDate | date : 'd-M-yy'}} </span><br>
          <!--  <span> {{emp.responsibilities}}</span><br> -->
                <span>Experience: {{emp.yearsOfExperience}} years</span>
             </div>
            </mat-card-content>
            <mat-card-actions>
               <span (click)="delelteEmployee(emp.id)" class="tos-action-button"><mat-icon  >delete</mat-icon></span>&emsp;
               <span (click)="openUpdateDialog(emp.id)" class="tos-action-button"><mat-icon  >create</mat-icon></span>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="checkEntity(employees)" class="tos-content-color">No employees Present </div>
   </div>
