<div *ngIf="customer != undefined">
   <h2 class="tos-entity-name">{{customer.name}}</h2>
   <span class="tos-entity-top-content">
      <i class="fa fa-phone tos-icons" title="Contact Number" aria-hidden="true"></i>
      <a class="tos-text"> {{customer.contact}} </a>
      <i class="fa fa-user-secret tos-icons" title="Contact person" aria-hidden="true"></i>
      <a class="tos-text" *ngIf="mainStakeHolderId"> {{customer.contactPerson}} </a>
      <a class="tos-text" *ngIf="mainStakeHolderId === undefined"> No Contact Person Assigned </a>
      <i class="fa fa-globe tos-icons" aria-hidden="true" title="Domain" ></i>
      <a class="tos-text"> {{customer.domain}} </a>
      <i class="fa fa-snowflake-o tos-icons"  title="Ace5 Process" aria-hidden="true"></i>
      <a class="tos-text" (click)="navigateAce5(customer.id)" style="cursor:pointer"> Ace5 Process </a>

      <img [src]="netImage + customer.imageName" class="tos-img" alt="User pic">

      <input type="file" id="selectFile" name="selectFile" class="tos-file-upload" accept="image/*">
      <button mat-raised-button class="tos-primary-button" (click)="uploadImage(customer.id)" >Upload Image</button>

   </span>
</div>
<mat-accordion [multi]="true" @fade>
   <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true" >
   <mat-expansion-panel-header>
      <mat-panel-title>
         <h3>Customer Goals</h3>
      </mat-panel-title>
      <mat-panel-description>
         <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
   </mat-expansion-panel-header>
   <div class=" tos-button-right">
      <span  (click)="openDialog('goals')" class="tos-add-button">+</span>
   </div>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
      <div fxFlex="30%" *ngFor = "let goal of customerGoals">
         <mat-card class="example-card" >
            <mat-card-header>
               <mat-card-title>
                  <h3><span >{{goal.description}}</span></h3>
               </mat-card-title>
               <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
               Tenure: {{goal.tenure}} <br>
               Status: {{goal.status}}<br>
               Details: {{goal.details}}<br>
               Signed By: {{goal.signedBy}}
            </mat-card-content>
            <mat-card-actions>
               <span (click)="openUpdateDialog('goals',goal.id)" class="tos-action-button">
                  <mat-icon  >create</mat-icon>
               </span>
               &emsp;
               <span (click)="delelteEntity('goals',goal.id,customerGoals)" class="tos-action-button">
                  <mat-icon  >delete</mat-icon>
               </span>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="customerGoals.length===0" class="tos-content-color">No Goals Defined </div>
   </div>
   </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true" >
   <mat-expansion-panel-header>
      <mat-panel-title>
         <h3>Customer Actions</h3>
      </mat-panel-title>
      <mat-panel-description>
         <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
   </mat-expansion-panel-header>
   <div class=" tos-button-right">
      <span  (click)="openDialog('actions')" class="tos-add-button">+</span>
   </div>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
      <div fxFlex="30%" *ngFor = "let action of customerActions" >
         <mat-card class="example-card" *ngIf="action.ace5Id === null">
            <mat-card-header>
               <mat-card-title>
                  <h3><span >{{action.details}}</span></h3>
               </mat-card-title>
               <mat-card-subtitle *ngIf="action.goalId !== null">Goal: {{ getGoalDesc(action.goalId)}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              Cause: {{action.cause}}<br>
              PLatform: {{action.platform}}<br> Status: {{action.status}}
            </mat-card-content>
            <mat-card-actions>
               <span (click)="openUpdateDialog('actions',action.id)" class="tos-action-button">
                  <mat-icon  >create</mat-icon>
               </span>
               &emsp;
               <span (click)="delelteEntity('actions',action.id,customerActions)" class="tos-action-button">
                  <mat-icon  >delete</mat-icon>
               </span>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="customerActions.length===0" class="tos-content-color">No Actions Defined </div>
   </div>
   </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
   <mat-expansion-panel-header>
      <mat-panel-title>
         <h3>Customer Teams</h3>
      </mat-panel-title>
      <mat-panel-description>
         <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
   </mat-expansion-panel-header>
   <div class=" tos-button-right">
      <span  (click)="openDialog('teams')" class="tos-add-button">+</span>
   </div>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
      <div fxFlex="30%" *ngFor = "let team of customerTeams">
         <mat-card class="example-card" >
            <mat-card-header>
               <mat-card-title>
                  <h3 class="shake-hover-style"><span class="tos-cust-heading" (click)="navigateViewTeam(team.id)">{{team.name}}</span></h3>
               </mat-card-title>
            </mat-card-header>
            <mat-card-content>
               Specialization:  {{team.specialization}}
            </mat-card-content>
            <mat-card-actions>
               <span (click)="openUpdateDialog('teams',team.id)" class="tos-action-button">
                  <mat-icon  >create</mat-icon>
               </span>
               &emsp;
               <span (click)="delelteEntity('teams',team.id,customerTeams)" class="tos-action-button">
                  <mat-icon  >delete</mat-icon>
               </span>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="customerTeams.length===0" class="tos-content-color">No Teams Assigned </div>
   </div>
   </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
   <mat-expansion-panel-header>
      <mat-panel-title>
         <h3>StakeHolders</h3>
      </mat-panel-title>
      <mat-panel-description>
         <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
   </mat-expansion-panel-header>
   <div class=" tos-button-right">
      <span  (click)="openDialog('stakeholders')" class="tos-add-button">+</span>
   </div>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
      <div fxFlex="30%" *ngFor = "let sholder of customerStakeholders">
         <mat-card class="example-card" >
            <mat-card-header>
               <mat-card-title class="tos-stakeholder-title">
                  <h3><span>{{sholder.name}}</span>
                    <span class="tos-subtitle" *ngIf="sholder.contactPerson === true"> (Contact Person) </span></h3>
               </mat-card-title>
            </mat-card-header>
            <mat-card-content>
               Role: {{sholder.role}} <br>
               EMail: {{sholder.email}}<br>
               Contact: {{sholder.phoneNo}}<br>
            </mat-card-content>
            <mat-card-actions>
               <span (click)="openUpdateDialog('stakeholders',sholder.id)" class="tos-action-button">
                  <mat-icon  >create</mat-icon>
               </span>
               &emsp;
               <span (click)="delelteEntity('stakeholders',sholder.id,customerStakeholders)" class="tos-action-button">
                  <mat-icon  >delete</mat-icon>
               </span>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="customerStakeholders.length===0" class="tos-content-color">No StakeHolders Present</div>
   </div>
   </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
   <mat-expansion-panel-header>
      <mat-panel-title>
         <h3>Travels</h3>
      </mat-panel-title>
      <mat-panel-description>
         <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
   </mat-expansion-panel-header>
   <div class=" tos-button-right">
      <span  (click)="openDialog('travels')" class="tos-add-button">+</span>
   </div>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
      <div fxFlex="30%" *ngFor = "let travel of customerTravels">
         <mat-card class="example-card" >
            <mat-card-header>
               <mat-card-title>
                  <h3><span  >Travelling: {{travel.name}}</span></h3>
               </mat-card-title>
            </mat-card-header>
            <mat-card-content>
               Travelling from: {{travel.travellingFrom}} To {{travel.travellingTo}}<br>
               Date: {{travel.travellingFromDate | date : 'd-M-yy'}} To {{travel.travellingToDate | date : 'd-M-yy'}}<br>
               Purpose: {{travel.purpose}}
            </mat-card-content>
            <mat-card-actions>
               <span (click)="openUpdateDialog('travels',travel.id)" class="tos-action-button">
                  <mat-icon  >create</mat-icon>
               </span>
               &emsp;
               <span (click)="delelteEntity('travels',travel.id,customerTravels)" class="tos-action-button">
                  <mat-icon  >delete</mat-icon>
               </span>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="customerTravels.length===0" class="tos-content-color">No Travels Scheduled</div>
   </div>
   </mat-expansion-panel>
</mat-accordion>
