<div *ngIf="  data.customer!==undefined" >
   <h2 *ngIf="data.customer.id === ''" mat-dialog-title>Add Customer</h2>
   <h2   *ngIf="data.customer.id !== ''" mat-dialog-title>Update Customer</h2>
   <mat-dialog-content>
      <form id="formNewEmployee2" name="formNewEmployeeUpdate"  #customerDataUpdate="ngForm">
         <mat-form-field >
            <input matInput placeholder="Name" name="name" [value]="data.customer.name" [(ngModel)]="data.customer.name" ngModel><br>
         </mat-form-field>
         <br>
         <mat-form-field >
            <input matInput placeholder="Contact No." name="contact" [value]="data.customer.contact" [(ngModel)]="data.customer.contact" ngModel>
         </mat-form-field>
         <br>
         <mat-form-field >
            <input matInput placeholder="Domain" name="domain" [value]="data.customer.domain" [(ngModel)]="data.customer.domain" ngModel>
         </mat-form-field>
         <br>
         <mat-form-field >
            <input type="text"  name="country"  placeholder="Country" aria-label="country" matInput [formControl]="data.myControl"
            [(ngModel)]="data.customer.country"
            [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
               <mat-option *ngFor="let country of data.filteredCountries | async" [value]="country">
               {{ country }}
               </mat-option>
            </mat-autocomplete>
         </mat-form-field>
         <br>
         <mat-form-field >
            <textarea matInput placeholder="Address" rows="3" name="address" [value]="data.customer.address" [(ngModel)]="data.customer.address" ngModel>
            </textarea>
         </mat-form-field>
      </form>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-raised-button class="tos-primary-button" [mat-dialog-close]=data.customer *ngIf="data.customer.id !== ''">Update</button>
      <button mat-raised-button class="tos-primary-button" [mat-dialog-close]=data.customer *ngIf="data.customer.id === ''">Add</button>
      <button mat-button mat-dialog-close="dialogDismissed" disableRipple="true" class="tos-button">Cancel</button>
   </mat-dialog-actions>
</div>
