<div *ngIf="  data.customerTeam!==undefined" >
   <h2 *ngIf="data.customerTeam.id === ''" mat-dialog-title>Create Team</h2>
   <h2   *ngIf="data.customerTeam.id !== ''" mat-dialog-title>Update Team</h2>
   <mat-dialog-content>
      <form id="formNewteamrUpdate" name="formNewteamrUpdate"  #teamDataUpdate="ngForm">
         <mat-form-field >
            <input matInput placeholder="Name" name="name" [value]="data.customerTeam.name" [(ngModel)]="data.customerTeam.name" ngModel><br>
         </mat-form-field><br>
         <mat-form-field >
            <input matInput placeholder="Specialization" name="specialization" [value]="data.customerTeam.specialization" [(ngModel)]="data.customerTeam.specialization" ngModel>
         </mat-form-field>
      </form>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-raised-button class="tos-primary-button" [mat-dialog-close]=data.customerTeam *ngIf="data.customerTeam.id !== ''">Update</button>
      <button mat-raised-button class="tos-primary-button" [mat-dialog-close]=data.customerTeam *ngIf="data.customerTeam.id === ''">Add</button>
      <button mat-button mat-dialog-close="dialogDismissed" disableRipple="true" class="tos-button">Cancel</button>
   </mat-dialog-actions>
</div>
