<div *ngIf="  data.customerTravel!==undefined" >
   <h2 *ngIf="data.customerTravel.id === ''" mat-dialog-title>Create Travel</h2>
   <h2   *ngIf="data.customerTravel.id !== ''" mat-dialog-title>Update Travel</h2>
   <mat-dialog-content>
      <form id="formNewTravelUpdate" name="formNewTravelUpdate"  #travelDataUpdate="ngForm">
         <mat-form-field >
            <input matInput placeholder="Person name" name="name" [value]="data.customerTravel.name" [(ngModel)]="data.customerTravel.name" ngModel><br>
         </mat-form-field><br>
         <mat-form-field >
            <input matInput placeholder="Travel From" name="travellingFrom" [value]="data.customerTravel.travellingFrom" [(ngModel)]="data.customerTravel.travellingFrom" ngModel>
         </mat-form-field><br>
         <mat-form-field >
            <input matInput placeholder="Travel To" name="travellingTo" [value]="data.customerTravel.travellingTo" [(ngModel)]="data.customerTravel.travellingTo" ngModel>
         </mat-form-field><br>
         <mat-form-field>
            <input matInput name="travellingFromDate" [matDatepicker]="picker" placeholder="Travel from Date"
            [value]="data.customerTravel.travellingFromDate"
            [(ngModel)]="data.customerTravel.travellingFromDate" ngModel>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker  #picker></mat-datepicker>
         </mat-form-field><br>
         <mat-form-field>
            <input matInput name="travellingToDate" [matDatepicker]="pickers" placeholder="Travel to Date"
            [value]="data.customerTravel.travellingToDate"
            [(ngModel)]="data.customerTravel.travellingToDate" ngModel>
            <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
            <mat-datepicker #pickers></mat-datepicker>
         </mat-form-field><br>
         <mat-form-field >
            <input matInput placeholder="Purpose" name="purpose" [value]="data.customerTravel.purpose" [(ngModel)]="data.customerTravel.purpose" ngModel>
         </mat-form-field>
      </form>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-raised-button class="tos-primary-button" [mat-dialog-close]=data.customerTravel *ngIf="data.customerTravel.id !== ''">Update</button>
      <button mat-raised-button class="tos-primary-button" [mat-dialog-close]=data.customerTravel *ngIf="data.customerTravel.id === ''">Add</button>
      <button mat-button mat-dialog-close="dialogDismissed" disableRipple="true" class="tos-button">Cancel</button>
   </mat-dialog-actions>
</div>
